<h1>Reports#show <%= pluralize 2, 'man' %> </h1>

<table class="table">
  <thead>
    <tr>
      <th>Destination</th>
      <th>Shipment</th>
      <th>Crates</th>
      <th>Money</th>
    </tr>
  </thead>
  <tbody>
    <% @shipments.each do |shipment| %>
      <tr>
        <td><%= shipment.planet %></td>
        <td><%= shipment.contents %></td>
        <td><%= pluralize(shipment.crates, 'crate') %></td>
        <td><%= number_to_currency shipment.money, precision: 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
