<!DOCTYPE html>
<html>
<head>
  <title>Bender</title>

  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

<nav>
  <ul>
    <li><%= link_to 'Home', '/' %></li>
    <li><%= link_to 'Gifs', '/gifs' %></li>
    <li><%= link_to 'Cats', '/cats' %></li>
    <li><%= link_to 'Reports', '/reports/show' %></li>
  </ul>
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
